body{
    margin: 0;
    padding: 0;
}
.container{
    width: 85%;
    margin: auto;
}
.logo{
    padding: 10px;
    align-self: center;
    color: #fff;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-list ul{
    display: flex;
}

li{
    list-style: none;
    padding: 10px;
    align-self: center;
}

a{
    text-decoration: none;
    color: #fff;
}

.btn{
    padding: 12px 15px;
    border: 0;
    border-radius: 10%;
}
.btn-primary{
    background-color: rgb(0, 162, 255);
    color: #fff;
}

header{
    background-image: url('./imgs/WhatsApp\ Image\ 2023-04-11\ at\ 09.15.51.jpg');
    background-size: cover;
    background-position: center;
    min-height: 85vh;
}
.header-content{
    margin-left: 30px;
    position: absolute;
    top: 30%;
    color: #fff;
}
footer{
    min-height: 15vh;
    background-color: #4c5264;
}
footer h3{
    color: aqua;
}
footer p{
    color: #fff;
}